html {
	font-size: 62.5%;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: $m-size;
}

button {
	cursor: pointer;
	font-family: 'Lato', sans-serif;
}

button:disabled {
	cursor: default;
}

